.home {
  color: white;
  display: flex;
  justify-content: center;
  gap: 8%;
  align-items: center;
  margin-top: 50px;
}

button {
  padding: 15px;
  color: white;
  background-color: #080808;
  border: 2px solid grey;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn-div {
  display: flex;
  gap: 15px;
}

.about-img {
  width: 35%;
}

.about div {
  font-size: 45px;
  font-weight: bold;
}

p{
  margin-top: 50px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .about div {
    font-size: 30px;
  }

  .about-img {
    width: 60%;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about div {
    font-size: 30px;
  }

  .about-img {
    width: 75%;
  }

  button {
    padding: 8px;
    font-size: 10px;
  }
}
