.home {
  color: white;
  display: flex;
  justify-content: center;
  gap: 8%;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

button {
  padding: 15px;
  color: white;
  background-color: #080808;
  border: 2px solid grey;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

.btn-div {
  display: flex;
  gap: 15px;
}

.about-img {
  width: 35%;
  max-width: 400px;
}

.about div {
  font-size: 45px;
  font-weight: bold;
}

p {
  margin-top: 50px;
  margin-bottom: 15px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .about div {
    font-size: 30px;
  }

  .about-img {
    width: 60%;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .about div {
    font-size: 24px;
  }

  .about-img {
    width: 75%;
  }

  button {
    padding: 8px;
    margin-bottom: 40px;
    font-size: 12px;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
