.navbar {
  display: flex;
  height: 5rem;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  margin-left: 10%;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10%;
}

.links {
  margin-right: 5%;
  display: flex;
}

.links a {
  margin: 0 20px;
  font-size: 17px;
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 100%;
  background-color: blueviolet;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.links a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    margin-right: 10%;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .links.open {
    display: flex;
  }

  .links a {
    font-size: 13px;
    margin: 7px 20px;
    text-align: right;
  }
}
